<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/tenzinwangmo/IdeaProjects/untitled/src/test/java/org/example/HurtMePlentyTest.java">
        <groups>
            <run>
                <include name="functional"/>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="org.example.HurtMePlentyTest">
                <methods>
                    <include name="AddEstimate"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>